

.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
    background-color: #fff;
}


.header .logo{

    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}


.header .logo img{

    width: 35px;
}


.header .logo a{

    color: var(--mainColor);
}

.header .nav a{
    color:#101928;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .auth a{

    font-family:var(--subFont);
    padding: 10px 30px;
    border-radius: 5px;
}


.header .auth a:first-of-type{

    border: 1px solid var(--mainColor);

    color: var(--mainColor);
}

.header .auth a:last-of-type{
    background-color: var(--mainColor);
    color: #fff;
}

@media(max-width:906px){

    body{
        background-color: red;
    }
}




.testimonials{
text-align: center;
padding: 40px 0;
}

.testimonials h2{
    margin: 20px;
}

.testimonials .row{

    gap: 40px;

}

.testimonial{
display: flex;
flex-direction: column;
gap: 20px;
    width: calc((100% - 40px) / 2 );
    align-items: flex-start;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
}

.testimonial:after{

content:'' ;
border-top: 40px solid #d5d3d3;
border-left: 40px solid transparent;
border-bottom: 40px solid transparent;
position: absolute;
top: 0;
right: 0;

}

.testimonial .user-info{

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}


q{
    font-size: 15px;

}



.testimonial .user-info .user-data{

    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: flex-start;
}



.testimonial .user-info .user-data span{

    font-size: 12px;
    color: #969696;
}




.testimonial .rating{

    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.testimonial q{
    color: #646464;
}


.testimonial .user-info img{
width: 40px;
height: 40px;
border-radius: 50%;
}










.auth a,
.lets-begin .register {
    text-decoration: none;
    border: 0.412px solid #545BE8;
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: 500;
}

.container .auth .register,
.lets-begin .register {
    background-color: #545BE8;
    color: white;
}

/* Let's Begin Section  */
.lets-begin {
    width: 100%;
    background: #F5F5F5;
    margin: 50px 0;
}

.lets-begin .container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 120px);
    margin: auto;
    padding: 30px 0;
    align-items: center;

}

.lets-begin .row {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.lets-begin .image {
    width: 50%;
    min-width: 330px;
}

.lets-begin .row .introduction {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 50%;
    min-width: 330px;
}

.lets-begin .introduction .buttons {
    display: flex;
    flex-wrap: wrap;
    
    gap: 35px;
    align-items: center;
    font-family: Inter;

}

.lets-begin .row .image img {
    width: 100%;
}

.lets-begin .introduction p:first-of-type {
    color: #545BE8;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
}

.lets-begin .introduction h2 {
    color: #141E32;
    width: 90%;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lets-begin .introduction p:last-of-type {
    color: #969696;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lets-begin .introduction #purple-course {
    color: #545BE8;
    font-weight: 800;
    font-size: 65px;
    text-shadow: 2px 2px 2px #272DB0;
}

.lets-begin .introduction #begins {
    font-weight: 900;
}

.lets-begin .introduction .play-video {
    display: flex;
    align-items: center;
    gap: 7px;
    justify-self: center;
    flex-wrap: wrap;
   
}

.lets-begin .play-video img{
width: 30px;
height: 30px;
}






.what-we-give {
    width: 100%;
    margin: 50px 0;
}

.what-we-give .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    width: calc(100% - 120px);
    margin: auto;
    padding: 25px 0;
    align-items: center;

}

.what-we-give .container div {
    width: 20%;
    height: 75%;
    min-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;

}

.what-we-give .container .tittle {
    width: 30%;
}

.what-we-give .container .tittle p:first-child {
    color: #545BE8;
    text-transform: uppercase;
    font-weight: 700;
    align-self: flex-start;
    font-family: Inter;

}

.what-we-give .container .tittle p:last-child {
    color: #969696;
    justify-self: end;
    width: 90%;
    font-family: Poppins;
}

.what-we-give .container .tittle h2 {
    font-weight: 900;
    font-size: 30px;
    width: 80%;
    font-family: Poppins;
}


.what-we-give img{

background-color:#F0C932;
border-radius: 50%;
width: 40px;
height: 40px;

}




.what-we-give .card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.what-we-give .container .card {
    border-radius: 10px;
    background-color: #545BE8;
    color: white;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
}

.what-we-give .container .card p {
    font-size: 14px;
    color: #DDD;
    text-align: justify;
    font-family: Poppins;
}

.what-we-give .container .card h3 {
    font-family: Inter;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.what-we-give img{
float: right;
margin-right: 180px;
    
}

.what-we-give .icon img{
    margin-right: 25px;
    
}






.selected-course {
    background: linear-gradient(180deg, #545BE8 0%, #272DB0 100%);
    width: 100%;
    margin: 50px 0;
}

.selected-course .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: calc(100% - 120px);
    margin: auto;
    padding: 25px 0;
    align-items: center;
}

.selected-course .image {
    width: 45%;
    min-width: 250px;
}

.selected-course .image img {
    width: 100%;
}

.selected-course .details {
    min-width: 250px;
    width: 45%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.selected-course .details .parts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.selected-course .details .parts .part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.selected-course .details .parts .part span:first-of-type {
    color: #F0C932;
    font-size: 22px;
    font-weight: 800;
    text-shadow: 2px 2px 2px black;
    font-family: Inter;
}

.selected-course .details .parts .part span:last-of-type {
    font-family: Inter;
    font-weight: 500;
    font-size: large;
}

.selected-course .details p:first-child {
    color: #F0C932;
    font-size: 26px;
    font-family: Inter;


}

.selected-course .details h2 {
    width: 70%;
    font-size: 40px;
    line-height: 50px;
    font-family: Poppins;
    font-weight: 500;
}

.selected-course .details .paragraph {
    color: #DDD;
    font-family: Poppins;
}






.available-courses {
    width: 100%;
    margin: 50px 0;
}

.available-courses .container {
    width: calc(100% - 120px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
}

.available-courses .details {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0;
    /*align-items: center;*/
    min-width: 250px;
    flex-wrap: wrap;
}

.available-courses .details a {
    text-decoration: none;
    background: #545BE8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Inter;
    width: 150px;
text-align: center;
}




.available-courses .courses {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    width: 60%;
}

.available-courses .details p:first-child {
    color: #545BE8;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.available-courses .details .paragraph {
    color: #969696;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   /* text-align: center;*/
}

.available-courses .details h2 {

    font-family: Poppins;
    font-size: 50px;
    text-align: left;
}

.available-courses .courses .course {
    width: calc((100% - 50px) / 2);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 10px 10px 10px #DDD;
    min-width: 250px;
}

.available-courses .courses .image {
    position: relative;
}

.available-courses .courses .course img {
    width: 100%;
    display: flex;
    filter: opacity(0.8);
}

.available-courses .courses .tittle .view {
    color: #545BE8;

}



.available-courses .courses .course .tittle {
    padding: 20px 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    font-family: Poppins;

}

.available-courses .courses .salary {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    color: white;
    font-weight: 700;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: x-large;
    padding: 15px;
    font-family: Poppins;
}

.available-courses .course .image .best-courses {
    background: #545BE8;
    color: white;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 0;
}


.available-courses .courses .best-courses {
    background-color: #545BE8;
}

.available-courses .courses .row1 {
    display: flex;
    justify-content: space-between;
}

.available-courses .courses .row2 {
    display: flex;
    gap: 20px;
    color: #969696;
}



.available-courses .details {

    padding: 10px 30px;
    border-radius: 5px;
}

























.footer{
    background-color: #393E46;
    color: #fff;
    padding: 50px 0;
}

.footer .row{

    gap: 40px;
}

.footer a{
    color: #fff;
}

.footer .footer-start,
.footer .footer-end
{
    width: calc((100% - 40px)/ 2);
}

.footer-start{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}


.footer .footer-start .logo{
display: flex;
flex-wrap: wrap;
gap: 10px;
align-items: center;
}


.footer .footer-start .logo img{
width: 35px;

}

.footer .footer-start .logo a{
font-size: 14px;
}

.footer .footer-start p{
    color: #F4F4F4;
    font-size: 14px;
    font-weight: 200;
}


.footer .footer-start .icon{

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer .footer-start .icon img{

    border: 1px solid #fff;
    width: 15px;
    height: 15px;
    padding: 10px;
    box-sizing: content-box;
}

.footer-end .row{
    justify-content: space-evenly;
    align-items: flex-start;
}


.footer-end .footer-item{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-end .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}